table .image{
    height: 90px;
    display: block;
}

.img_cover img{
    width: 88px;
    height: 100%;
    object-fit: cover;
}

table strong{
    min-width: 88px;
    display: inline-block;
}

.uk-flex-space-between{
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;

}

.uk-flex-middle{
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.uk-flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.filter .perpage{
    display: inline-block;
}